h1.hprimo
{
	border: black solid 3px;
	background-color: rgb(255, 153, 0);
	text-align: center;
	padding: 20px 10px 20px 10px;
}
h1.hsecondo
{
	border: black solid 3px;
	background-color: rgb(102, 153, 255);
	margin-top: 10px;
	position: absolute;
	max-width: 40%;
	padding: 10px 10px 10px 10px;
}
h2.hterzo
{
	position: relative;
}
div.cont1
{
	max-width: 45%;
}